*{
  box-sizing: border-box;
  font-family: FontAwesome;
}

form {
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
}

heading {
    background-color: #2886CF;
    color: white;
    padding: 1rem;
    flex: 1 100%;
    box-shadow: 0px 5px 10px #ddd;
    font-size: 1.2em;
    font-weight: 100;
}

form{
  box-shadow: 0px 5px 10px #555;
  border-radius: 5px;
}

input{
  font-family: FontAwesome;
}

.form {
  display: block;
  flex: 1 100%;
  border: none;
}

.form *{
  margin: 0rem;
  padding: 7px;
  padding-left: 25px;
  width: 95%;
  max-width: 95%;
}

select{
  padding: 10px;
}

.submit_button{
  background-color: #C4DDF2;
  flex: 1 100%;
  border: none;
  margin: 0;
  padding: 1rem;
}

button{
  background-color: #2886CF;
  color: white;
  border: none;
  padding: 10px;
}

.fa{
  position: relative;
  top: 28px;
  left:-19px;
}

select#user-language {
    margin-top: 2rem;
}
